html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: caption;
  padding: 8px;
  background-color: #ffffff;
}

.item {
  display: flex;
  align-items: center;
  padding: 4px;
}

.item + .item {
  margin-top: 16px;
}

.item-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  flex-basis: 32px;
  vertical-align: top;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-info {
  font-size: 12px;
  width: 100%;
  display: inline-block;
  margin: 0 16px;
}

.item-filename {
  margin-bottom: 4px;
}

.item-size,
.item-hostname,
.item-datetime {
  opacity: 0.75;
  font-size: 11px;
}

.item-show {
  display: none;
  background: url(../icons/folder.svg) center no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
  flex-basis: 16px;
  border: none;
  margin-left: auto;
  cursor: pointer;
  border-radius: 4px;
  vertical-align: top;
}

.item-show:hover {
  background-color: #f4f4f4;
}

.item-show:active {
  background-color: #eeeeee;
}

.state-complete .item-show {
  display: block;
}

.item-options {
  display: none;
  width: 100%;
}

.progress {
  position: relative;
  height: 8px;
  width: 100%;
  border: 1px solid #a0a0a0;
  background-color: #f0f0f0;
  border-radius: 1px;
}

.state-canceled .progress {
  display: none;
}

.progress .loader {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #6d6d6d;
  z-index: 1;
}

.progress .percentage {
  color: #EEE;
  position: relative;
  z-index: 2;
  font-size: 8px;
  line-height: 16px;
  margin-left: 4px;
}

.state-in_progress .item-options,
.state-canceled .item-options,
.state-paused .item-options {
  display: block;
}

.selected {
  background-image: linear-gradient(to top, #d7e9fc, #e3edfd);
  border-radius: 4px;
  box-shadow: 0 0 1px 1px #7ca3ce;
}




.change-state-button,
.cancel-button {
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../icons/retry.svg);
}

.state-in_progress .change-state-button {
  background-image: url(../icons/pause.svg);
}

.state-paused .change-state-button {
  background-image: url(../icons/play.svg);
}

.cancel-button {
  background-image: url(../icons/cancel.svg);
}

button + button {
  margin-left: 8px;
}