html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

body {
  font: caption;
  margin: 0;
  padding: 0;
}

#content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3px;
}

.toolbar-bottom {
  margin: auto 0 0;
  padding: 8px 0 4px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #eee;
  background: transparent;
}

.toolbar-bottom button {
  background-color: rgba(12, 12, 13, 0.1);
  height: 32px;
  color: #0c0c0d;
  border-radius: 2px;
  border: none;
  padding: 0 8px;
  cursor: pointer;
}

.toolbar-bottom button:hover {
  background-color: rgba(12, 12, 13, 0.2);
  border-color: #adafb1;
}

.toolbar-bottom button:active {
  background-color: rgba(12, 12, 13, 0.3);
}

.toolbar-bottom button:focus {
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

.item-link-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.items {
  flex: 1;
}

.item {
  display: flex;
  align-items: center;
  margin: -3px;
  padding: 7px;
  position: relative;
  border-bottom: 1px solid rgb(175, 175, 175);
}

.item + .item {
  margin-top: 3px;
}

.item-icon {
  display: inline-block;
  width: 32px;
  height: auto;
  flex-basis: 32px;
  vertical-align: top;
  margin-left: 4px;
  cursor: pointer;
  transition: 0.5s ease;
  /*pointer-events: none;*/
}

.item-icon:hover{
  opacity: 0.6;
}

.grayscale {
  filter: grayscale(1);
}


.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-info {
  font-size: 12px;
  width: 100%;
  display: inline-block;
  margin: 0 16px;
}

.item-filename {
  margin-bottom: 4px;
}

.item-size,
.item-hostname,
.item-datetime,
.item-speed {
  opacity: 0.75;
  font-size: 11px;
}

.item-datetime,
.item-speed {
  display: block;
}

.toolbar-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 16px;
}

.toolbar-item .btn {
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 16px;
  height: 16px;
  padding: 0 2px;
  margin: 0px 0px 1px 0px;
  flex-basis: 16px;
  border: none;
  margin-left: auto;
  cursor: pointer;
  border-radius: 3px;
  vertical-align: top;
  text-indent: -500px;
  overflow: hidden;
  display: inline-block;
}

.toolbar-item .btn + .btn {
  margin-top: 4px;
}

.toolbar-item .btn:hover {
  background-color: rgba(12, 12, 13, 0.1);
}

.toolbar-item .btn:active {
  background-color: rgba(12, 12, 13, 0.2);
}

.toolbar-item .btn.item-show {
  background-image: url(../icons/folder.svg);
  background-position: center;
  background-size: 15px;
}

.folderEnabled {
  opacity: 1;
}

.folderDisabled {
  opacity: 0.4;
  cursor: not-allowed !important;
}

.folderDisabled:hover {
  background-color: transparent !important;
}

.folderDisabled:active {
  background-color: transparent !important;
}

.item-copy-link {
  background-image: url(../icons/copy.svg);
  background-size: 14px;
  background-position: right center;
}

.item-download-page {
  background-image: url(../icons/external-link.svg);
  background-position: 1px center;
  background-size: 15px;
}

.item-options {
  display: none;
  width: 100%;
  padding-right: 20px;
}

.progress {
  margin: 1px 0px;
  position: relative;
  height: 6px;
  width: 100%;
  /*border: 1px solid #a0a0a0;*/
  background-color: #c7c7c7;
  border-radius: 1px;
}

.state-canceled .progress,
.state-canceled .cancel-button {
  display: none;
}

.progress .loader {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #3c9af8;
  z-index: 1;
}

.state-paused .progress .loader {
  background-color: #7a7878;
}

.state-in_progress .item-options,
.state-canceled .item-options,
.state-paused .item-options {
  display: block;
}

.change-state-button,
.cancel-button,
.erase-button {
  width: 18px;
  height: 18px;
  padding: 0 4px;
  border-radius: 1px;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-indent: -200px;
  overflow: hidden;
  background-color: transparent;
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../icons/retry.svg);
}

.change-state-button:hover,
.cancel-button:hover,
.erase-button:hover {
  background-color: rgba(12, 12, 13, 0.1);
}

.change-state-button:active,
.cancel-button:active,
.erase-button:active {
  background-color: rgba(12, 12, 13, 0.2);
}
/*
Doesn't look great
.change-state-button:focus,
.cancel-button:focus,
.erase-button:focus {
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 1px rgba(10, 132, 255, 0.3);
}*/


.state-in_progress .change-state-button {
  background-size: 15px;
  background-image: url(../icons/pause.svg);
}

.state-paused .change-state-button {
  background-size: 15px;
  background-image: url(../icons/play.svg);
}

.cancel-button,
.erase-button {
  background-image: url(../icons/cancel.svg);
}

.erase-button {
  background-size: 14px;
  display: none;
  position: absolute;
  left: 4px;
  top: 4px;
}

.item:hover .erase-button {
  display: inline-block;
}

.cancel-button {
  background-size: 16px;
  margin-left: 8px;
}
